\documentclass{{article}}
\usepackage{{texicons, texicons-{prefix}, longtable}}

\renewcommand{{\arraystretch}}{{1.6}}

\begin{{document}}
    \begin{{longtable}}{{lllr}}
        \multicolumn{{1}}{{l}}{{\bfseries Icon}} &
        \multicolumn{{1}}{{l}}{{\bfseries Key}} &
        \multicolumn{{1}}{{l}}{{\bfseries Command}} \\ \hline
{rows}
    \end{{longtable}}
\end{{document}}
